.about-project{
	box-shadow: 0px 17px 45.36px 8.64px rgba(221, 221, 221, 0.22);
	.project-card{
		img{
			max-width: 100%;
		}
		padding: 2.5rem;
		border-bottom: 3px solid #eeeeee;
		&:last-child{
			border:none;
		}
	}
}
.tascs{
	padding: 1.5rem 0;
	background-color: #fafcff;
	h4{
		margin-bottom: 3rem;
	}
}

.project-slider .carousel-item.active{
	img{
		max-width: 100%;
	}
}

.container .about-project-text {
	.row .col-xl-6{
		img{
			max-width: 100%;
		}
	}
	h4{
		margin-bottom: 20px;
	}
}

.container .gea-map{
	background-size: contain;
	background-position: right;
	background-repeat: no-repeat;
	padding: 30px 0;
	margin-bottom: 90px;
	li{
		margin-bottom: 1rem;
		list-style-type: none;
		a{
			color: #000;
		}
		img{
			margin-right: .7rem;
		}
	}
	.map-svg{
		margin-top: -5rem;
		width: 45rem;
		.cls-3:hover{
			transform: translateY(-1px);
			transition: all linear .2s;
			cursor: pointer;
		}
		.cls-5{
			cursor: pointer;
			transform: translateY(-1px);
			transition: all linear .2s;
			opacity: 0 !important;
		}
		.cls-1:hover{
			transform: translateY(-1px);
			transition: all linear .2s;
			cursor: pointer;
		}
	}

}

@media(max-width:1024px){
	.container .gea-map{
		background-position: top;
		padding: 2rem 0;
		margin-bottom: 90px;
		.map-svg{
			width: auto;
			margin-top: auto;
		}
	}
}
@media(min-width:768px) and (max-width: 1024px){
	.container .gea-map{
		background-position: top;
		padding: 2rem 0;
		margin-bottom: 90px;
		.map-svg{
			width: auto;
			margin-top: auto;
		}
	}
}

@media(max-width:567px){
	.container .gea-map{
		padding: 2rem 0;
		.map-svg{
			width: auto;
			margin-top: auto;
		}
	}
}

@media(max-width:425px){
	.container .gea-map{
		padding: 2rem 0;
		.map-svg{
			width: auto;
			margin-top: auto;
		}
	}
	.tascs{
		padding: 1.5rem 0;
		background-color: #fafcff;
		h4{
			margin-top: -10px;
			font-size: 20px;
			margin-bottom: 1.5rem;
		}
	}
	.about-project-text{
		h4{
			margin-top: -30px;
		}
	}
	.about-project .project-card{
		padding: 15px;
	}
}

@media(max-width:567px){
	.container .gea-map{
		padding: 2rem 0;
		.map-svg{
			width: auto;
			margin-top: auto;
		}
	}
}
