.contacts{
    .tab-content {
        margin-top: 70px;
    }
    .tab-content .item{
        text-align: center;
        .title{
            font-size: 22px;
            font-weight: 700;
            margin-top: 10px;
        }
        a{
            color: $body-color;
            text-decoration: none;
        }
        .info_mail{
            color: $link;
            font-weight: 500;
        }
    }
    .nav-pills{
        background: #fff;
        box-shadow: 0 0 20px rgba(223, 223, 223, 0.418);
        border-radius: 20px;
    }
    .nav-pills .nav-link{
        color: $body-color;
        font-weight: 500;
        font-size: 15px;
    }
    .nav-pills .nav-link.active{
        border-radius: 30px;
        background: #5dabff;
        color: #fff;
    }
}
.nav-tab-maps{
    margin-top: 50px;
    position: relative;
    .button{
        color: #fff !important;
    }
}

.contact_map_info{
    background: #fff;
    max-width: 300px;
    width: 100%;
    padding: 30px 25px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 30px;
    z-index: 100;
    a{
        text-decoration: none;
    }
    .map-tel{
        font-size: 27px;
        font-weight: 500;
        margin-bottom: 10px;
        color: $body-color;
    }
    .map-mail{
        font-size: 18px;
        font-weight: 500;
        color: $link;
    }
    .title{
        font-size: 30px;
        line-height: 1.1;
        font-weight: bold;
        margin-bottom: 30px;
    }
    .button{
        margin-top: 30px;
        display: block;
    }
    .button:hover{
        margin-top: 33px;
        display: block;
    }
}


@media(max-width:768px){
    .contacts{
        .tab-content .item{
            .title{
                font-size: 18px;
            }
            padding: 15px 0px;
        }
    }    

    .contact_map_info{
        background: #fff;
        max-width: 100%;
        width: 100%;
        padding: 30px 25px;
        position: relative;
        top: 0;
        transform: translateY(0);
        left: 0px;
        z-index: 100; 
    }
}
@media(max-width:450px){
    .contacts .tab-content{
        margin-top: 30px;
    }
    .tab-content .item{
        .icon{
            max-width: 70px;
            height: 100%;
            margin: 0 auto;
            img{
                max-width: 100%;
            }
        }
        p{
            font-size: 14px;
        }
    }
    .contacts .nav-pills .nav-link{
        font-size: 14px; 
    }
    .contacts .tab-content .item a{
        font-size: 14px;
    }
}








