.galery{
	.galery-tabs{
		ul{
			background-color: #fff;
			border-radius: 2rem;
			box-shadow: 0px 0px 45.36px 8.64px rgba(221, 221, 221, 0.22);
			li{
				padding: 1rem;
				list-style-type: none;
				&.tab-activ{
					color: #fff;
					border-radius: 2rem;
					background-color: #5dabff;
				}
			} 
		}
	} 
	.galety-content{
		.col-xl-3{
			/*max-height: 170px !important;*/
			overflow: hidden;
			img{
				width: 100%;
				height: auto
			}
		}
		a {
			margin: 0 auto;
			text-align: center;
			border: none;
			padding: 1rem 3rem;
			color: #fff;
			border-radius: 2rem;
			background: linear-gradient(to right top, #f75f84, #fa99b1);
			border-bottom: 5px solid #dd345d;
			box-shadow: 0px 4px 0px 0px rgba(221, 52, 93, 0.004),0px 15px 12.09px 0.91px rgba(248, 103, 138, 0.26);
			&:hover{
				text-decoration: none;
				background: linear-gradient(to right bottom, #fa99b1, #f75f84);
			}
		}
	
	}
}

.image-source-link {
	color: #98C3D1;
}

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
	opacity: 0;
	/* ideally, transition speed should match zoom duration */
	-webkit-transition: all 0.3s ease-out; 
	-moz-transition: all 0.3s ease-out; 
	-o-transition: all 0.3s ease-out; 
	transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
		opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
		opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container, 
.mfp-with-zoom.mfp-removing.mfp-bg {
	opacity: 0;
}

.galety-content{
	padding-bottom: 3rem;
	.galery-content-title{
		ul{
			padding: 0;
			display: flex;
			align-items: center;
			li{
				padding: 1rem 1.5rem;
				list-style-type: none;
				border-radius: 2rem;
				&:first-child{
					background-color: #f4f8fd;
				}
			}

		}
	}
	.col-xl-3{
		margin-bottom: 2rem;
	}
	.col-md-3{
		margin-bottom: 2rem;
	}
	img{
		width: 100%;
	}
}

.zoom-gallery{
	a {
		padding: 0;
		border-radius: 0;
		background: none;
		border-bottom: none;
		box-shadow: none;
		&:hover{
			text-decoration: none;
			background: none;
		}
	}
}

@media (max-width: 576px){
	.galery{
		.galery-tabs{
			ul{
				flex-wrap: wrap;
			}
		}
		.galety-content{
			padding-bottom: 3rem;
			.galery-content-title{
				ul{
					li{
						padding: .5rem 1rem;
					}

				}
			}
		}
	}
}
@media (min-width: 768px) and (max-width: 1024px){
	.galery{
		.galery-tabs{
			ul{
				flex-wrap: wrap;
			}
		}
	}
}