
body{
    margin: 0; 
    overflow-x: hidden; 
    color: #252539;
}

.galety-content .video iframe {
    width: 100%;
    height: 252px;
}


.first-screen{
    // background-image: url(/img/fon.png);
    background-position: center;
    background-size: cover;
    padding: 0px 0px 0px;
    .container div, p{
        margin-left: 50px;
    }
    .subtitle{
        font-size: 18px;
        font-weight: 500;
    }
    .title{
        font-size: 48px;
        font-weight: 500;
        margin-bottom: 10px;
    }
    p{
        padding-bottom: 65px;
        font-size: 21px;
        max-width: 600px;
    }
    .slider-text{
            position: absolute;
            left: 10%;
            top: 10%;
    }
}



.advantages{
    padding: 53px 0px 0px;
    .col-sm-12:nth-last-child(1) .item{
        .img-circle{
            max-width: 15px;
        } 
    }
    .item{
        display: flex;
        align-items: center;
        .text{
            margin-left: 20px;
        }
        .text p:nth-last-child(1){
            color: #7d7d85;
            font-size: 14px;
        }
        .title{
            display: flex;
            align-items: center;
            width: 100%;
            font-size: 24px;
            font-weight: 600; 
            p{
             margin-bottom: 5px;
         }
     }
     .img-circle{
        margin-left: auto;
        display: flex;
        align-items: center;
        height: 15px;
        max-width: 100px;
        width: 100%;
        img{
            object-fit: contain;
        }
        span{
            display: inline-block;
            vertical-align: middle;
            height: 1px;
            max-width: 75px;
            width: 100%;
            margin-left: 8px;
            background: #f3f6ff; 
        }
    }
}
}

.branches{
    margin-top: 20px;
    background-position: right center;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 70px 0px 70px;
    .branch-cont{
        background: #fff;
        padding: 25px 30px 60px 40px;
        box-shadow: 0px 0px 30px rgba(214, 214, 214, 0.418);
        .title{
            font-size: 45px;
            font-weight: 600;
            line-height: 1.2;
        }
        p{
            font-size: 21px;
            margin: 20px 0px 0px;
        }
    }
    .uralsk:hover{
        transform: translateY(-1px);
        transition: all linear .2s;
        cursor: pointer;
    }
    .cls-3:hover{
        transform: translateY(-1px);
        transition: all linear .2s;
        cursor: pointer;
    }
    .cls-5{
        cursor: pointer;
        transform: translateY(-1px);
        transition: all linear .2s;
        opacity: 0 !important;
    }


}

.news{
    background-image: url(/img/fon2.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px 0px 60px;
    margin-top: 80px;
    .cont{
        margin: 30px -15px 55px;
    }
    .sect-title{
        font-size: 48px;
        font-weight: 500;
        margin: 0px auto;
    }
    .col-lg-7{
        .img{
            img{
                width: 100%;
            }
        }
        .info{
            padding: 25px 15px;
        }
        .date{
            font-size: 14px;
            color: #7d7d85;
            margin-bottom:  5px;
        }
        .title{
            font-size: 21px;
            font-weight: 700;
            margin-bottom: 15px;
        }
        .subtitle{
            font-size: 14px;
        }
        a{
            padding: 20px 0px;
            color: $body-color;
            font-weight: 500;
            background: #f3f6ff;
            display: block;
            text-align: center;
            width: 200px;
            margin-top: 60px;
            border-radius: 30px;
        }
    }
    ::-webkit-scrollbar {
        width: 15px;
        padding-right: 10px;
        background-color: #fff;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 15px;
        background: #e8f3ff;
    }
    ::-webkit-scrollbar-button{
        display: none;
    }
    .back{
        padding: 10px;
        background: #fff;
        &:last-child {
            background: linear-gradient(90deg, rgba(0, 0, 0, 0)2%, #fff 2%);
            padding: 0px 20px 0px 0px;
            max-height: 610px;
            overflow-x: scroll;
        }
        
        .img{
            width: 100%;
            overflow: hidden;
            img{
                width: 100%;
            }
        }
    }
    .button{
        display: block;
        margin: 0px auto;
    }
    .button:hover{
        margin: 3px auto -3px;
    }
    .cont-news{
        margin: 30px 0px 0px 30px;
        .item{
            margin-bottom: 30px;
            display: flex;
            .img{
                max-width: 125px;
                max-height: 85px;
                overflow: hidden;
            }
            .info{
                margin-left: 20px;
                .title{
                    font-weight: 700;
                }
                .date{
                    font-size: 14px;
                }
            }
        }
        .item:hover{
            background: rgb(243, 243, 243);
        }
    }
}

.story{
    .container{
        .title{
            text-align: center;
            font-size: 48px;
            font-weight: bold;
            margin-top: 40px;
        }
        a{
            display: block;
            margin: 0px auto 0px;
        }
        a:hover{
            margin: 3px auto -3px;
        }
    }
    .slider-story{
        padding-top: 40px;
        padding-bottom: 45px;
        .button:hover{
            margin: 3px auto -3px;
        }
        .owl-stage{
            display: flex;
        }
        .owl-stage-outer{
            overflow-x: hidden;
        }
        .owl-nav, .owl-dots{
            display: none;
        }
        .story-item{
            iframe{
                display: block;
                margin: auto;
                width: 100%;
                max-height: 300px;
                height: 100rem;
            }
            .info{
                padding: 25px;
                .date-video{
                    font-size: 13px;
                    color: #acbfd3;
                    font-weight: 500;
                }
                .title{
                    font-size: 18px;
                    font-weight: 500;
                }
            }
        }
        .owl-item{
         max-height: max-content;
         margin: 15px;
         .video{
             a img{
                 width: 100%;
             }
         }
         .info{
             text-align: center;
         }
     } 
 }
       .owl-item{
           max-height: fit-content;
           margin: 15px;
           .info{
               text-align: center;
           }
       } 
    }

.project{
    padding: 80px 0px;
    .title{
        font-size: 48px;
        font-weight: 700;
        margin-bottom: 15px;
    }
    .subtitle{
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 20px;
    }
}
@media(max-width:1200px){
    .advantages .item .img-circle {
        width: 15px;
        span{
            display: none;
        }
    }
}

@media(max-width:992px){
    .advantages .item {
        .img-circle {
            display: none;
        }
        .img{
            max-width: 80px;
            width: 100%;
            img{
                width: 100%;
            }
        }
    }
}

@media(max-width:768px){
    header {
        .soc-net a {
            padding: 0px 10px;
        }
        ul{
            margin-bottom: 0px;
        }
    }
    .first-screen .container div, .first-screen p {
        margin-left: 0px !important;
    }
    // .news{
    //     .col-lg-5{
    //         .item{
    //             max-width: 305px;
    //             max-height: 205px;
            
    //         }
    //     }
    // }
    .news .cont{
        margin: 30px 0px 50px;
    }
    .news .back:last-child {
        background: #fff !important; 
    }
    .branches{
        margin-top: 20px;
        background-position: top center;
        background-size: contain;
        background-repeat: no-repeat;
        padding: 50px 0px 0px;
        .col-md-6{
            flex: 0 0 100% !important;
            max-width: 100% !important;
        }
    }
}

@media(width:768px){
    .branches .container .row .col-md-12 {
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }
}

@media(max-width:576px){
    // .news{
    //     .col-lg-5{
    //         .item{
    //             max-width: 165px;
    //             max-height: 105px;
            
    //         }
    //     }
    // }
    .first-screen{
        .row{
            margin: 0;
        }
        .button{
            margin: 0 auto;
        }
        .button-2{
            margin: 20px auto 0px;
        }
    }
    .branches{
        margin-top: 20px;
        background-position: top center;
        background-size: contain;
        background-repeat: no-repeat;
        padding: 0px 0px 0px;
    }
    .story .slider-story .owl-item{
        max-height: 500px;
    }
    .news {
        margin-top: 20px;
    }
}

@media(max-width:426px){
    .first-screen {
        .carousel{
            height: 11rem;
            .carousel-item{
                height: 100%;
                img{
                    height: 100%;
                }
            }
        }
        .subtitle{
            font-size: 12px;
        }
        .title{
            margin: 20px 0px;
            font-size: 14px !important; 
            font-weight: bold;
        }
        p{
            padding: 0px 0px 20px !important;
            font-size: 14px !important;
        }
        .button-2{
            margin: 20px auto 0px;
        padding: 20px 0px 20px !important;
        font-size: 18px !important;
         }

    }
    // .news{
    //     .col-lg-5{
    //         .item{
    //             max-width: 125px;
    //             max-height: 85px;
            
    //         }
    //     }
    // }
    .news .back:last-child{
        max-height: 360px;
    }
    .news .cont-news .item .info .title{
        font-size: 13px;
    }
    .branches{
        padding: 0px 0px 0px;
        .title{
            font-size: 32px !important;
        }
        p{
            font-size: 16px !important;
        }
    }
}
