.library-inside{
	.library-main-img{
		width: 100%;
	}
	img{
		height: auto;
	}
	.library-image-bottom{
		img{
			margin-bottom: .5rem;
			width: 100%;
		}
	}
	.note-text{
		border: 10px solid #f0f4f9;
		padding: 3.5rem;
		position: relative;
		.quotes{
			position: absolute;
			top: -1.5rem;
			left:1.5rem;
			padding: 0rem 2rem;
			width: max-content;
			background-color: #fff;
		}
		img{
			width: auto;
		}
	}
	.variants{
		ul{
			margin-top: 1.5rem;
			li{
				margin-bottom: .7rem;
				list-style-type: none;
				img{
					margin-right: 1rem;
				}
			}
		}
		
	}
}
@media (max-width: 576px){
	.library-inside{
		h1{
			font-size: x-large;
		}
		.note-text{
			padding: 1rem;
			h4{
				font-size: large;
			}
		}
	}
}