.mass-media-about-us{
	.mass-about-us-title{
		margin-bottom: 2rem;
	}
	.library-card{
		margin-bottom: 2rem;
		box-shadow: 0px 17px 45.36px 8.64px rgba(221, 221, 221, 0.22);
		a {
			margin-top: 1rem;
			border: none;
			padding: 1rem 4rem;
			color: #fff;
			border-radius: 2rem;
			background: linear-gradient(to right top, #f75f84, #fa99b1);
			border-bottom: 5px solid #dd345d;
			box-shadow: 0px 4px 0px 0px rgba(221, 52, 93, 0.004),0px 15px 12.09px 0.91px rgba(248, 103, 138, 0.26);
			&:hover{
				text-decoration: none;
				background: linear-gradient(to right bottom, #fa99b1, #f75f84);
			}
		}
		.no-gutters > .col, .no-gutters > [class*="col-"]{
			padding: 10px;
		}
	}
}
.library-inside{
	margin-top: 10px;
}