//base
@import "base/reset.scss";
@import "base/typography.scss";

//components
@import "components/buttons.scss";
@import "components/carousel";
@import "components/cover";
@import "components/dropdown";

//layout
@import "layout/footer";
@import "layout/forms";
@import "layout/grid";
@import "layout/header";
@import "layout/navigation";
@import "layout/sidebar";
@import "layout/offer";
@import "layout/modal";

//pages
@import "pages/library";
@import "pages/library-inside";
@import "pages/Mass-Media-about-us";
@import "pages/galery";
@import "pages/about-the-project";
@import "pages/index";
@import "pages/news";
@import "pages/contacts";

//themes
@import "themes/admin";
@import "themes/theme";

//utils
@import "utils/functions";
@import "utils/helpers";
@import "utils/mixins";
@import "utils/variables";

//vendors
@import "vendors/bootstrap";
@import "vendors/jquery-ui";

*{
    outline: none !important
}

#app {
    padding-top: 3rem !important;
}

.swal-text{
    font-weight: bold;
    font-size: 24px;
}
.swal-footer{
    margin-bottom: 15px;
    .swal-button-container{
    max-width: 450px;
    width: 100%;
    margin: 0;
    text-align: center;
    }
    .swal-button.swal-button--confirm{
            font-size: 18px;
            padding: 15px 0px;
            text-align: center;
            font-weight: bold;
            color: #fff;
            text-decoration: none;
            font-family: inherit;
            background-image: url(/img/button-fon.png);
            background-size: cover;
            background-repeat: no-repeat;
            box-shadow: 0px 5px 0px #dd345d;
            border-radius: 80px;
            max-width: 200px;
            width: 100%;
            transition: all .4s;
        &:hover{
            text-decoration: none;
            margin-top: 3px;
            color: #fff;
            margin-bottom: -3px;
            box-shadow: 0px 2px 0px #b42a4c;
        }
    }
}















