.first-screen {
  .carousel-control-prev-icon {
    background-image: url(/img/prev.png) !important;
    background-size: cover;
    &:hover {
      opacity: 0.5;
    }
    .carousel-control-prev {
      &:hover {
        opacity: 0.5;
      }
    }
  }
  .carousel-control-next-icon {
    background-image: url(/img/next.png) !important;
    background-size: cover;
  }
  .carousel-control-next {
    &:hover {
      opacity: 0.5;
    }
  }
}
