@font-face {
  font-family: 'Museo';
  src: url("../fonts/MuseoSansCyrl_3.eot");
  src: url("../fonts/MuseoSansCyrl_3.eot?#iefix") format("embedded-opentype") url("../fonts/MuseoSansCyrl_3.ttf") format("ttf") url("../fonts/MuseoSansCyrl_3.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Pro';
  src: url("../fonts/proximanova-regular.eot");
  src: url("../fonts/proximanova-regular.eot?#iefix") format("embedded-opentype") url("../fonts/proximanova-regular.ttf") format("ttf") url("../fonts/proximanova-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

.button {
  font-size: 18px;
  padding: 25px 0px;
  text-align: center;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  font-family: inherit;
  background-image: url(../img/button-fon.png);
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0px 5px 0px #dd345d;
  border-radius: 80px;
  max-width: 250px;
  width: 100%;
  transition: all 0.4s; }

.button:hover {
  text-decoration: none;
  margin-top: 3px;
  color: #fff;
  margin-bottom: -3px;
  box-shadow: 0px 2px 0px #b42a4c; }

.button-2 {
  background: none;
  border: 2px solid #dbdbdb;
  color: #252539;
  box-shadow: 0px 0px 0px rgba(255, 255, 255, 0);
  margin-left: 15px; }

.button-2:hover {
  color: #252539;
  text-decoration: none;
  box-shadow: 0px 0px 0px rgba(255, 255, 255, 0); }

footer {
  background: #f4f4f4; }
  footer .row {
    align-items: center; }
    footer .row .cont-logo .row {
      align-items: flex-start;
      margin-left: -15px;
      padding: 35px 0px; }
  footer .cont-search .row .select {
    margin-left: auto;
    margin-right: 20px; }
    footer .cont-search .row .select a {
      padding: 10px 20px; }
    footer .cont-search .row .select a img {
      transition: all 0.4s; }
    footer .cont-search .row .select a:hover img {
      transform: rotate(20deg); }
    footer .cont-search .row .select select {
      outline: none;
      cursor: pointer;
      font-weight: 500;
      padding: 10px 40px 10px 20px;
      appearance: none;
      background-image: url(../img/bottom-arrow.png);
      background-position: 80% 50%;
      background-repeat: no-repeat;
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      border: 5px solid #e8f3ff; }
  footer .link {
    text-align: right; }
  footer .link a:nth-child(1) {
    font-size: 24px;
    color: #252539;
    font-weight: 500; }
  footer .link a:nth-last-child(1) {
    font-weight: 500;
    color: #4094ed;
    font-size: 18px; }
  footer .link a:nth-last-child(1):hover {
    color: #3681d1; }
  footer .link a img {
    margin-right: 10px; }
  footer .header-select {
    display: flex;
    align-items: center; }
  footer .container.nav-menu .row {
    align-items: center;
    padding: 20px 0px; }
  footer a {
    text-decoration: none; }
  footer a:hover {
    text-decoration: none; }
  footer li {
    list-style-type: none;
    display: inline-block;
    margin: 0px 40px; }
    footer li a {
      font-weight: 600;
      color: #4094ed; }
    footer li a:hover {
      color: #3681d1; }
  footer .soc-net a {
    padding: 0px 20px; }
  footer .soc-net svg {
    fill: #bbd4ef;
    transition: all 0.4s; }
  footer .soc-net a:hover svg {
    fill: #3681d1; }
  footer ul {
    padding-left: 0px; }
  footer li:nth-child(1) {
    margin-left: 0px !important; }
  footer ul li:nth-child(1) img {
    margin-left: 5px;
    transform: rotate(360deg);
    transition: all 0.4s; }
  footer ul li:nth-child(1):hover img {
    transform: rotate(270deg); }
  footer .soc-net {
    margin-right: -30px; }
    footer .soc-net a {
      padding: 0px 0px 0px 30px; }
  footer .logo-company {
    text-align: center;
    padding: 0px 5px; }
    footer .logo-company .title {
      font-size: 11px;
      color: #86868d;
      margin-top: 10px; }
    footer .logo-company .img {
      height: 50px; }
      footer .logo-company .img img {
        object-fit: contain;
        object-position: center; }

.bottom-bullshit {
  padding: 20px 0px; }
  .bottom-bullshit p {
    color: #a1a8ad;
    font-size: 14px;
    margin-bottom: 0px; }

@media (max-width: 1024px) {
  footer .link {
    margin-left: auto; }
  header .soc-net a {
    padding: 0px 15px; } }

@media (max-width: 768px) {
  footer .row {
    padding: 15px 0px; }
    footer .row .cont-logo .row {
      margin-left: 0px;
      margin-right: 0px;
      padding: 0px; }
  footer .logo-company {
    padding: 15px;
    text-align: left; }
  footer .row {
    align-items: flex-start; }
  footer .col-sm-5.cont-search {
    display: none; }
  .bottom-bullshit {
    padding: 15px; } }

@media (max-width: 576px) {
  .bottom-bullshit {
    background: #f4f4f4; } }

header {
  background: #fff;
  box-shadow: 0 15px 30px rgba(207, 207, 207, 0.178); }
  header .row {
    align-items: center; }
    header .row .cont-logo .row {
      align-items: flex-start;
      margin-left: -15px;
      padding: 35px 0px; }
  header .cont-search .select {
    margin-left: auto;
    margin-right: 20px; }
    header .cont-search .select a {
      padding: 10px 20px; }
    header .cont-search .select a img {
      transition: all 0.4s; }
    header .cont-search .select a:hover img {
      transform: rotate(20deg); }
    header .cont-search .select select {
      outline: none;
      cursor: pointer;
      font-weight: 500;
      padding: 10px 40px 10px 20px;
      appearance: none;
      background-image: url(../img/bottom-arrow.png);
      background-position: 80% 50%;
      background-repeat: no-repeat;
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      border: 5px solid #e8f3ff; }
  header .link {
    text-align: right; }
  header .link a:nth-child(1) {
    font-size: 24px;
    color: #252539;
    font-weight: 500; }
  header .link a:nth-last-child(1) {
    font-weight: 500;
    color: #4094ed;
    font-size: 18px; }
  header .link a:nth-last-child(1):hover {
    color: #3681d1; }
  header .link a img {
    margin-right: 10px; }
  header .header-select {
    display: flex;
    align-items: center; }
  header .container.nav-menu .row {
    align-items: center;
    padding: 20px 0px; }
  header a {
    text-decoration: none; }
  header a:hover {
    text-decoration: none; }
  header li {
    list-style-type: none;
    display: inline-block;
    margin: 0px 30px; }
    header li a {
      font-weight: 600;
      color: #4094ed; }
    header li a:hover {
      color: #3681d1; }
  header .soc-net a {
    padding: 0px 20px; }
  header .soc-net svg {
    fill: #bbd4ef;
    transition: all 0.4s; }
  header .soc-net a:hover svg {
    fill: #3681d1; }
  header ul {
    margin-left: -30px; }
  header ul li:nth-child(1) img {
    margin-left: 5px;
    transform: rotate(360deg);
    transition: all 0.4s; }
  header ul li:nth-child(1):hover img {
    transform: rotate(270deg); }
  header .logo-company {
    text-align: center;
    padding: 0px 5px; }
    header .logo-company .title {
      font-size: 11px;
      color: #86868d;
      margin-top: 10px; }
    header .logo-company .img {
      height: 50px; }
      header .logo-company .img img {
        object-fit: contain;
        object-position: center; }
  header .mobile-menu {
    display: none;
    position: relative;
    height: 30px;
    width: 36px; }
    header .mobile-menu span {
      display: inline-block;
      position: absolute;
      height: 3px;
      width: 100%;
      background: #252539; }
  header .mobile-menu span:nth-child(1) {
    top: 0px; }
  header .mobile-menu span:nth-child(2) {
    top: 14px; }
  header .mobile-menu span:nth-child(3) {
    top: 28px; }

@media (max-width: 1200px) {
  .soc-net {
    max-width: 250px;
    width: 100%;
    margin-left: auto; }
  header ul, footer ul {
    margin-left: 0px;
    padding: 0px; }
    header ul li, footer ul li {
      margin: 0px 15px; } }

@media (max-width: 1024px) {
  .container {
    max-width: 850px; }
  header .cont-search .row {
    display: block;
    text-align: right; }
    header .cont-search .row .link {
      margin-top: 20px; }
  header .soc-net a {
    padding: 0px 15px; } }

@media (max-width: 992px) {
  header .link {
    margin-left: auto;
    margin-top: 20px; }
  header .row .cont-logo .row {
    padding: 15px 0px; }
  header .logo-company {
    padding: 15px; } }

@media (max-width: 768px) {
  header .soc-net a {
    padding: 0px 10px; }
  header ul {
    margin-bottom: 0px; }
  header .row {
    padding: 15px 0px; }
    header .row .cont-logo .row {
      margin-left: 0px;
      margin-right: 0px;
      padding: 0px; }
  header .logo-company {
    padding: 15px;
    text-align: left; }
  .mobile-menu {
    display: block !important;
    margin: auto 15px auto auto; }
  header .row {
    align-items: flex-start; }
  .container.nav-menu {
    display: none; }
  header .col-sm-5.cont-search {
    display: none; } }

@media (max-width: 576px) {
  .cont-logo {
    display: none; } }

.mobile-window {
  position: fixed;
  overflow: scroll;
  top: 0;
  right: -100%;
  transition: all 0.8s;
  height: 100vh;
  z-index: 2000;
  width: 300px;
  padding: 25px 25px;
  background: #fff; }
  .mobile-window ul li:nth-child(1) img {
    margin-left: 5px;
    transform: rotate(360deg);
    transition: all 0.4s; }
  .mobile-window ul li:nth-child(1):hover img {
    transform: rotate(270deg); }

.mobile-menu-close {
  position: absolute;
  top: 35px;
  right: 25px; }

.mobile-window.nav-open {
  right: 0;
  z-index: 10000; }

.mobile-window .row {
  align-items: center; }
  .mobile-window .row .cont-logo .row {
    align-items: flex-start;
    margin-left: -15px;
    padding: 35px 0px; }

.mobile-window .cont-search .select a {
  padding: 10px 20px; }

.mobile-window .cont-search .select a img {
  transition: all 0.4s; }

.mobile-window .cont-search .select a:hover img {
  transform: rotate(20deg); }

.mobile-window .cont-search .select select {
  background: #fff;
  outline: none;
  cursor: pointer;
  font-weight: 500;
  padding: 10px 40px 10px 20px;
  appearance: none;
  background-image: url(../img/bottom-arrow.png);
  background-position: 80% 50%;
  background-repeat: no-repeat;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  border: 5px solid #e8f3ff; }

.mobile-window .link {
  margin: 20px 0px;
  text-align: left; }

.mobile-window .link a:nth-child(1) {
  font-size: 24px;
  color: #252539;
  font-weight: 500; }

.mobile-window .link a:nth-last-child(1) {
  font-weight: 500;
  color: #4094ed;
  font-size: 18px; }

.mobile-window .link a:nth-last-child(1):hover {
  color: #3681d1; }

.mobile-window .link a img {
  margin-right: 10px; }

.mobile-window a {
  text-decoration: none; }

.mobile-window a:hover {
  text-decoration: none; }

.mobile-window ul {
  margin: 20px 0px 40px !important;
  padding: 0px; }

.mobile-window li {
  list-style-type: none;
  padding: 10px 0px; }
  .mobile-window li a {
    font-weight: 600;
    color: #4094ed; }
  .mobile-window li a:hover {
    color: #3681d1; }

.mobile-window .soc-net a {
  padding: 0px 20px; }

.mobile-window .soc-net svg {
  fill: #bbd4ef;
  transition: all 0.4s; }

.mobile-window .soc-net a:hover svg {
  fill: #3681d1; }

.breadcrumb-sec {
  margin-top: 30px; }
  .breadcrumb-sec .breadcrumb {
    margin-bottom: 0px;
    background: #f4f9fe;
    border-radius: 40px;
    padding: 13px 30px 13px 13px;
    display: inline-flex; }
    .breadcrumb-sec .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
      content: '';
      background-image: url(../img/right-arrow.png);
      width: 13px;
      height: 9px;
      margin-right: 15px; }

.title-sec {
  font-size: 48px;
  font-weight: 500;
  margin-bottom: 30px; }

.offer {
  position: relative;
  margin-top: 95px;
  padding-top: 40px;
  background-image: url(../img/fon3.png);
  background-position: center;
  background-size: cover; }
  .offer form {
    background: #fff;
    padding: 45px; }
    .offer form .title {
      font-weight: bold;
      font-size: 45px;
      line-height: normal; }
    .offer form .subtitle {
      font-weight: 500;
      margin-top: 10px; }
    .offer form .button {
      border: none;
      max-width: 100%;
      background-size: cover;
      background-position: center;
      margin-top: 30px; }
    .offer form .button:hover {
      margin-top: 33px;
      margin-bottom: -3px; }
    .offer form .sec {
      margin: 20px auto 0px;
      text-align: center;
      font-size: 13px;
      max-width: 240px;
      color: #92929c; }
      .offer form .sec span {
        text-decoration: underline; }
    .offer form input {
      width: 100%;
      background: #f0f7fe;
      border-radius: 40px;
      outline: none;
      height: 70px;
      padding: 0px 30px;
      border: none;
      font-family: inherit;
      font-size: 22px; }
    .offer form .form-input p {
      margin: 20px 22px 5px;
      font-weight: 500; }
  .offer .flowers {
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 200px;
    width: 100%; }
    .offer .flowers img {
      width: 100%; }

@media (max-width: 768px) {
  .offer {
    background-position: 40%; }
  .flowers {
    max-width: 150px;
    width: 100%; } }

@media (max-width: 576px) {
  .offer {
    background-position: left; }
  .offer form .title {
    font-size: 32px; }
  .offer form input {
    font-size: 16px; }
  .flowers {
    display: none; } }

@media (max-width: 426px) {
  .offer .col-xl-6 {
    padding: 0px; }
  .offer form {
    padding: 30px; } }

.modal-content .modal-title {
  font-size: 24px;
  font-weight: 500;
  color: #252539; }

.modal-content form p {
  font-weight: 500;
  margin: 10px 0 4px; }
  .modal-content form p span {
    color: red; }

.modal-content form input {
  width: 100%;
  padding: 10px 20px;
  border-radius: 50px;
  border: none;
  background: rgba(231, 231, 231, 0.623);
  font-family: inherit;
  outline: none; }

.modal-content form button {
  margin-top: 25px;
  max-width: 100%;
  border: none;
  background-position: center;
  padding: 10px 0; }

.modal-content form button:hover {
  margin-top: 28px; }

.modal-content .security {
  font-size: 12px;
  margin-top: 15px;
  color: #92929c; }

@media (max-width: 400px) {
  .modal-content .modal-title {
    font-size: 22px; } }

body {
  margin: 0;
  overflow-x: hidden;
  color: #252539; }

.first-screen {
  background-image: url(../img/fon.png);
  background-position: center;
  background-size: cover;
  padding: 80px 0px 100px; }
  .first-screen .container div, .first-screen p {
    margin-left: 50px; }
  .first-screen .subtitle {
    font-size: 18px;
    font-weight: 500;
    margin-left: -20px !important; }
  .first-screen .title {
    font-size: 48px;
    font-weight: 500;
    margin-bottom: 10px; }
  .first-screen p {
    padding-bottom: 65px;
    font-size: 21px;
    max-width: 600px; }

.advantages {
  padding: 53px 0px 0px; }
  .advantages .col-sm-12:nth-last-child(1) .item .img-circle {
    max-width: 15px; }
  .advantages .item {
    display: flex;
    align-items: center; }
    .advantages .item .text {
      margin-left: 20px; }
    .advantages .item .text p:nth-last-child(1) {
      color: #7d7d85;
      font-size: 14px; }
    .advantages .item .title {
      display: flex;
      align-items: center;
      width: 100%;
      font-size: 24px;
      font-weight: 600; }
      .advantages .item .title p {
        margin-bottom: 5px; }
    .advantages .item .img-circle {
      margin-left: auto;
      display: flex;
      align-items: center;
      height: 15px;
      max-width: 100px;
      width: 100%; }
      .advantages .item .img-circle img {
        object-fit: contain; }
      .advantages .item .img-circle span {
        display: inline-block;
        vertical-align: middle;
        height: 1px;
        max-width: 75px;
        width: 100%;
        margin-left: 8px;
        background: #f3f6ff; }

.branches {
  background-image: url(../img/map-fon.png);
  margin-top: 20px;
  background-position: right center;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 70px 0px 70px; }
  .branches .branch-cont {
    background: #fff;
    padding: 25px 30px 60px 40px;
    box-shadow: 0px 0px 30px rgba(214, 214, 214, 0.418); }
    .branches .branch-cont .title {
      font-size: 45px;
      font-weight: 600;
      line-height: 1.2; }
    .branches .branch-cont p {
      font-size: 21px;
      margin: 20px 0px 0px; }

.news {
  background-image: url(../img/fon2.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px 0px 60px;
  margin-top: 80px; }
  .news .cont {
    margin: 30px -15px 55px; }
  .news .sect-title {
    font-size: 48px;
    font-weight: 500;
    margin: 0px auto; }
  .news .col-lg-7 .info {
    padding: 25px 15px; }
  .news .col-lg-7 .date {
    font-size: 14px;
    color: #7d7d85;
    margin-bottom: 5px; }
  .news .col-lg-7 .title {
    font-size: 21px;
    font-weight: 700;
    margin-bottom: 15px; }
  .news .col-lg-7 .subtitle {
    font-size: 14px; }
  .news .col-lg-7 a {
    padding: 20px 0px;
    color: #252539;
    font-weight: 500;
    background: #f3f6ff;
    display: block;
    text-align: center;
    width: 200px;
    margin-top: 60px;
    border-radius: 30px; }
  .news ::-webkit-scrollbar {
    width: 15px;
    padding-right: 10px;
    background-color: #fff; }
  .news ::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background: #e8f3ff; }
  .news ::-webkit-scrollbar-button {
    display: none; }
  .news .back {
    padding: 10px;
    background: #fff; }
    .news .back:last-child {
      background: linear-gradient(90deg, rgba(0, 0, 0, 0) 2%, #fff 2%);
      padding: 0px 20px 0px 0px;
      max-height: 580px;
      overflow-x: scroll; }
    .news .back .img {
      width: 100%; }
      .news .back .img img {
        width: 100%; }
  .news .button {
    display: block;
    margin: 0px auto; }
  .news .button:hover {
    margin: 3px auto -3px; }
  .news .cont-news {
    margin: 30px 0px 0px 30px; }
    .news .cont-news .item {
      margin-bottom: 30px;
      display: flex; }
      .news .cont-news .item .img {
        max-width: 125px;
        max-height: 85px; }
      .news .cont-news .item .info {
        margin-left: 20px; }
        .news .cont-news .item .info .title {
          font-weight: 700; }
        .news .cont-news .item .info .date {
          font-size: 14px; }
    .news .cont-news .item:hover {
      background: #f3f3f3; }

.story .container .title {
  text-align: center;
  font-size: 48px;
  font-weight: bold;
  margin-top: 40px; }

.story .container a {
  display: block;
  margin: 0px auto 0px; }

.story .container a:hover {
  margin: 3px auto -3px; }

.story .slider-story {
  padding-top: 40px;
  padding-bottom: 45px; }
  .story .slider-story .button:hover {
    margin: 3px auto -3px; }
  .story .slider-story .owl-stage {
    display: flex; }
  .story .slider-story .owl-stage-outer {
    overflow-x: hidden; }
  .story .slider-story .owl-nav, .story .slider-story .owl-dots {
    display: none; }
  .story .slider-story .story-item .info {
    padding: 25px; }
    .story .slider-story .story-item .info .date-video {
      font-size: 13px;
      color: #acbfd3;
      font-weight: 500; }
    .story .slider-story .story-item .info .title {
      font-size: 18px;
      font-weight: 500; }
  .story .slider-story .owl-item {
    max-height: 360px;
    margin: 15px; }
    .story .slider-story .owl-item .video a img {
      width: 100%; }
    .story .slider-story .owl-item .info {
      text-align: center; }

.project {
  padding: 80px 0px; }
  .project .title {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 15px; }
  .project .subtitle {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px; }

@media (max-width: 1200px) {
  .advantages .item .img-circle {
    width: 15px; }
    .advantages .item .img-circle span {
      display: none; } }

@media (max-width: 992px) {
  .advantages .item .img-circle {
    display: none; }
  .advantages .item .img {
    max-width: 80px;
    width: 100%; }
    .advantages .item .img img {
      width: 100%; } }

@media (max-width: 768px) {
  header .soc-net a {
    padding: 0px 10px; }
  header ul {
    margin-bottom: 0px; }
  .first-screen .container div, .first-screen p {
    margin-left: 0px !important; }
  .news .cont {
    margin: 30px 0px 50px; }
  .news .back:last-child {
    background: #fff !important; }
  .branches {
    margin-top: 20px;
    background-position: top center;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 450px 0px 0px; } }

@media (max-width: 576px) {
  .branches {
    margin-top: 20px;
    background-position: top center;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 340px 0px 0px; }
  .story .slider-story .owl-item {
    max-height: 500px; } }

@media (max-width: 426px) {
  .first-screen {
    padding: 80px 0px 20px !important; }
    .first-screen .title {
      margin: 20px 0px;
      font-size: 28px !important;
      font-weight: bold; }
    .first-screen p {
      padding: 0px 0px 20px !important;
      font-size: 14px !important; }
    .first-screen .button-2 {
      margin: 20px 0px 0px; }
  .news .back:last-child {
    max-height: 360px; }
  .news .cont-news .item .info .title {
    font-size: 13px; }
  .branches {
    padding: 240px 0px 0px; }
    .branches .title {
      font-size: 32px !important; }
    .branches p {
      font-size: 16px !important; } }

.page-news {
  padding-bottom: 105px; }
  .page-news .item {
    box-shadow: 0 0 30px rgba(226, 226, 226, 0.418);
    padding: 10px;
    margin: 10px 0px;
    display: flex; }
    .page-news .item .text {
      width: calc(100% - 390px);
      padding: 10px 0px;
      margin-left: 40px; }
      .page-news .item .text .date {
        font-size: 14px;
        color: #74747d; }
      .page-news .item .text .title {
        font-size: 24px;
        font-weight: 500;
        text-decoration: none;
        color: #252539;
        transition: all 0.4s; }
    .page-news .item .img {
      max-width: 350px;
      max-height: 205px;
      width: 100%;
      height: 100%;
      overflow: hidden; }
      .page-news .item .img img {
        width: 100%;
        object-fit: cover;
        object-position: center; }
  .page-news .button {
    display: block;
    margin: 60px auto 0px; }
  .page-news .button:hover {
    margin: 63px auto -3px; }

.page-news .item .title:hover {
  color: #3681d1; }

@media (max-width: 992px) {
  .news-page__cont__item {
    display: flex;
    flex-wrap: wrap; }
  .page-news .item {
    flex-direction: column;
    width: calc(50% - 20px);
    margin: 10px; }
    .page-news .item .img {
      max-width: 100%; }
    .page-news .item .text {
      width: 100%;
      padding: 15px 5px 5px;
      margin-left: 0px; } }

@media (max-width: 768px) {
  .page-news .item .text .title {
    font-size: 18px; }
  .page-news .item .text p {
    font-size: 13px; } }

@media (max-width: 578px) {
  .page-news {
    padding-bottom: 45px; }
    .page-news .item {
      flex-direction: column;
      width: 100%;
      margin: 10px 0px; }
    .page-news .img {
      max-height: 405px !important;
      height: 100%; } }

.contacts .tab-content {
  margin-top: 70px; }

.contacts .tab-content .item {
  text-align: center; }
  .contacts .tab-content .item .title {
    font-size: 22px;
    font-weight: 700;
    margin-top: 10px; }
  .contacts .tab-content .item a {
    color: #252539;
    text-decoration: none; }
  .contacts .tab-content .item .info_mail {
    color: #4094ed;
    font-weight: 500; }

.contacts .nav-pills {
  background: #fff;
  box-shadow: 0 0 20px rgba(223, 223, 223, 0.418);
  border-radius: 20px; }

.contacts .nav-pills .nav-link {
  color: #252539;
  font-weight: 500;
  font-size: 15px; }

.contacts .nav-pills .nav-link.active {
  border-radius: 30px;
  background: #5dabff;
  color: #fff; }

.nav-tab-maps {
  margin-top: 50px;
  position: relative; }
  .nav-tab-maps .button {
    color: #fff !important; }

.contact_map_info {
  background: #fff;
  max-width: 300px;
  width: 100%;
  padding: 30px 25px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 30px;
  z-index: 100; }
  .contact_map_info a {
    text-decoration: none; }
  .contact_map_info .map-tel {
    font-size: 27px;
    font-weight: 500;
    margin-bottom: 10px;
    color: #252539; }
  .contact_map_info .map-mail {
    font-size: 18px;
    font-weight: 500;
    color: #4094ed; }
  .contact_map_info .title {
    font-size: 30px;
    line-height: 1.1;
    font-weight: bold;
    margin-bottom: 30px; }
  .contact_map_info .button {
    margin-top: 30px;
    display: block; }
  .contact_map_info .button:hover {
    margin-top: 33px;
    display: block; }

@media (max-width: 768px) {
  .contacts .tab-content .item {
    padding: 15px 0px; }
    .contacts .tab-content .item .title {
      font-size: 18px; }
  .contact_map_info {
    background: #fff;
    max-width: 100%;
    width: 100%;
    padding: 30px 25px;
    position: relative;
    top: 0;
    transform: translateY(0);
    left: 0px;
    z-index: 100; } }

@media (max-width: 450px) {
  .contacts .tab-content {
    margin-top: 30px; }
  .tab-content .item .icon {
    max-width: 70px;
    height: 100%;
    margin: 0 auto; }
    .tab-content .item .icon img {
      max-width: 100%; }
  .tab-content .item p {
    font-size: 14px; }
  .contacts .nav-pills .nav-link {
    font-size: 11px; }
  .contacts .tab-content .item a {
    font-size: 14px; } }
