.mobile-window {
    position: fixed;
    overflow: scroll;
    top: 0;
    right: -100%;
    transition: all 0.8s;
    height: 100vh;
    z-index: 2000;
    width: 300px;
    padding: 25px 25px;
    background: #fff;

    ul li:nth-child(1) img{
        margin-left: 5px;
        transition: all .4s;
    }

}

.mobile-menu-close{
    position: absolute;
    top: 35px;
    right: 25px;
}

.mobile-window.nav-open {
    right: 0;
    z-index: 10000;
}

.mobile-window{
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.568);
    .row{
        align-items: center; 
        .cont-logo .row{
            align-items: flex-start;
            margin-left: -15px;
            padding: 35px 0px;
        }
    }
    .cont-search{
        display: flex;
        align-items: center;
    }
    .cont-search .select{
        a{
            padding: 10px 20px;
        }
        a img{
            transition: all .4s;
        }
        a:hover img{
            transform: rotate(20deg);
        }
        select{
            padding: 10px 35px 10px 15px;
            background: none;
            font-weight: 500;
            appearance:none;
            background-image: url(/img/bottom-arrow.png);
            background-position: 80% 50%;
            background-repeat: no-repeat;
            -webkit-appearance:none;
	        -moz-appearance:none;
        	-ms-appearance:none;
            border: 5px solid #e8f3ff;
        }
    }
    .header_link{
        text-align: left;
        margin-left: 10px;
    }
    .header_link a:nth-child(1){
        font-size: 15px;
        color: $body-color;
        font-weight: 500;
    }
    .header_link a:nth-last-child(1){
        font-weight: 500;
        color: $link; 
        font-size: 14px;
    }
    .header_link a:nth-last-child(1):hover{
        color: $link-hover; 
    }
    .header_link a img{
        margin-right: 10px; 
    }
    
    a{
        text-decoration: none;
    }
    a:hover{
        text-decoration: none;
    }
    ul{
        margin: 20px 0px 40px !important;
        padding: 0px;
        li:nth-child(1){
            position: relative;
        }
        li{
            img{
                position: absolute;
                top: 10px;
                right: 150px;
            }
            }
            list-style-type: none;
            a{
                display: block;
                margin: 10px 0;
                font-weight: 600;
                color: $link;
            }
            a:hover{
                color: $link-hover;
            }
            .sub-menu{
                margin: 0 !important;
            }
        }
    .accordion-trigger--open .sub-menu{
        margin: 0 !important;
    }
    .soc-net{
        a{
            padding: 0px 20px;
        }
        svg{
            fill: #bbd4ef;
            transition: all .4s;
        }
        a:hover svg{
            fill: $link-hover;
        }
    }
}

.breadcrumb-sec{
    margin-top: 30px;
    .breadcrumb{
        margin-bottom: 0px;
        background: #f4f9fe;
        border-radius: 40px;
        padding: 13px 30px 13px 13px;;
        display: inline-flex;
        .breadcrumb-item + .breadcrumb-item::before{
            content: '';
            background-image: url(/img/right-arrow.png);
            width: 13px;
            height: 9px;
            margin-right: 15px;
        } 
    }
}

.title-sec{
        font-size: 48px;
        font-weight: 500;
        margin-bottom: 30px;
}


