.offer{
    position: relative;
    margin-top: 95px;
    padding-top: 40px;
    background-image: url(/img/fon3.png);
    background-position: center;
    background-size: cover;
    form{
        background: #fff;
        padding: 45px;
        .title{
            font-weight: bold;
            font-size: 45px;
            line-height: normal;
        }
        .subtitle{
            font-weight: 500;
            margin-top: 10px;
        }
        .button{
            border: none;
            max-width: 100%;
            background-size: cover;
            background-position: center;
            margin-top: 30px;
        }
        .button:hover{
            margin-top: 33px;
            margin-bottom: -3px;
        }
        .sec{
            margin: 20px auto 0px;
            text-align: center;
            font-size: 13px;
            max-width: 240px;
            color: #92929c;
            span{
                text-decoration: underline;
            }
        }
        input{
            width: 100%;
            background: #f0f7fe;
            border-radius: 40px;
            outline: none;
            height: 70px;
            padding: 0px 30px;
            border: none;
            font-family: inherit;
            font-size: 22px;
        }
        .form-input p{
            margin: 20px 22px 5px;
            font-weight: 500;
        }
    }
    .flowers{
       position: absolute;
        bottom: 0;
        left: 0;
        max-width:200px;
        width: 100%;
        img{
            width: 100%;
        }
     }
}

@media(max-width:768px){
    .offer{   
    background-position: 40%;
    }
    .flowers{
        max-width:150px;
        width: 100%;
    }
}

@media(max-width:576px){
    .offer{   
        background-position: left;
        }
    .offer form .title{
        font-size: 32px;
    }
    .offer form input{
        font-size: 16px;
    }
    .flowers{
        display: none;
    }
}

@media(max-width:426px){
    .offer .col-xl-6{
        padding: 0px;
    }
    .offer form{
        padding: 30px;
    }
}