<template>
    <div class="container news-page__cont__item">
        <div v-for="(v, i) in articles" :key="i" class="item">
            <a :href="host + '/articles/' + v.id " class="img"><img :src="host + '/storage/' + v.image" :alt="v.title"></a>
            <div class="text">
                <a :href="host + '/articles/' + v.id " class="title">{{ v.title }}</a>
                <p>{{ strip_tags(v.short_content).substring(0, 200) }}</p>
            </div>
        </div>
        <div class="container" v-if="nextDate != null">
            <a class="button" href="javascript:void(0)" v-on:click="loadMore">{{ $t('show_all') }}</a>
        </div>
    </div>
</template> 
<script>
    export default {
        props: ['category', 'type'],
        data() {
            return {
                articles: [],
                nextDate: null,
                lastDate: null,
                host: document.querySelector('meta[name=host]').content,
                lang: document.documentElement.lang,
                strip_tags: require("strip_tags")
            }
        },
        created() {
            if(this.type == 'news') {
                this.fetchArticles();
            }
        },
        watch: {
            category: function (newVal, oldVal) {
                this.fetchArticlesByCategory();
            }
        },
        methods: {
            fetchArticles() {
                this.$http.get(`/api/articles?lang=${this.lang}`)
                    .then(r => {
                        this.articles = r.data.articles;
                        this.nextDate = r.data.next_date;
                        this.lastDate = this.articles[this.articles.length - 1].created_at;
                    });
            },
            loadMore(e) {
                this.$http.get(`/api/articles?lastDate=${this.lastDate}&lang=${this.lang}`)
                    .then(r => {
                            r.data.articles.map(item => {
                                this.articles.push(item);
                            });
                            this.nextDate = r.data.next_date;
                            this.lastDate = this.articles[this.articles.length - 1].created_at;
                        });
            }
        }
    }
</script>
<style scoped>
</style>