<template>
    <div class="tab-content">
        <!-- The Modal -->
        <div class="modal fade" id="myModal">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <div class="modal-title">{{ $t('leave_call') }}</div>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <form method="POST" v-on:submit="submitForm" id="contacts_form">
                            <input type="hidden" name="center_id" :value="centers.id">
                            <p class="application__input_h">{{ $t('enter_name') }} <span>*</span></p>
                            <input type="text" placeholder="Иванов Иван" name="name" required>
                            <p class="application__input_h">{{ $t('your_phone') }} <span>*</span></p>
                            <input type="tel" name="phone" placeholder="+7 (777) 777 7777" required>
                            <button class="button">{{ $t('leave_feedback') }}</button>
                            <div class="security">*{{ $t('garant') }}</div>
                        </form>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">{{ $t('close') }}</button>
                    </div>

                </div>
            </div>
        </div>
        <div id="home" class="container tab-pane active">
            <br>
            <div class="row">
                <div  v-for="(v, i) in information" :key="i" class="col-md-3 col-6 col-sm-6">
                    <div class="item" v-if="v">
                        <div class="icon"><img :src="'/img/icon-' + i + '.png'" alt=""></div>
                        <div class="info">
                            <div class="title">{{ $t(i) }}</div>
                            <p v-for="(v1, i1) in v" :key="i1">{{ v1.value }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <p v-if="centers.info && centers.info.description">
                {{ centers.info.description[0].value }}
            </p>
            <div class="nav-tab-maps">
                <div class="map-contain">
                    <div id="map" style="height: 500px"></div>
                </div>
                <div class="contact_map_info">
                    <div class="title">{{ $t('come_to_us') }}</div>
                    <p v-if="centers.info && centers.info.address">{{ centers.info.address[0].value }}</p>
                    <a v-if="centers.info && centers.info.phone" class="map-tel" :href="'tel:' + centers.info.phone[0].value">{{ centers.info.phone[0].value }}</a>
                    <br><a v-if="centers.info && centers.info.email" :href="'mailto:' + centers.info.email[0].value" class="map-mail">{{ centers.info.email[0].value }}</a>
                    <a class="button" data-toggle="modal" href="#myModal">{{ $t('feedback_call') }}</a>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import MapComponent from './MapComponent';
    export default {
        components: {
            MapComponent
        },
        props: ['region'],
        data() {
            return {
                centers: [],
                host: document.querySelector('meta[name=host]').content,
                coords: [],
                map: null,
                information: {}
            }
        },
        created() {
        },
        watch: {
            region: function (newVal, oldVal) {
                this.fetchCentersByRegion(newVal);
            }
        },
        methods: {
            submitForm(e) {
                e.preventDefault();
                const data = new FormData(document.getElementById('contacts_form'));

                this.$http.post(`${this.host}/api/requests/phone`, data)
                    .then(r => {
                        swal(r.data.message);
                    });
            },
            fetchCentersByRegion(region) {
                const lang = document.documentElement.lang;
                let response;
                response = this.$http.get(`/api/regions${ '/' + region.region}/centers?lang=${lang}&ownOffices=true`);
                response
                    .then(r => {
                        this.centers = r.data;
                        this.information = {
                            address: this.centers.info.address,
                            phone: this.centers.info.phone,
                            email: this.centers.info.email,
                            schedule: this.centers.info.schedule
                        };
                        console.log(this.information);
                        if(this.map) {
                            this.map.destroy();
                        }

                        this.ymaps(this.centers.info.coordinates[0].value.split(', '));
                    });
            },
            ymaps(coords) {
                ymaps.ready(() => {
                    this.map = new ymaps.Map('map', {
                        center: coords,
                        zoom: 12
                    }, {
                        searchControlProvider: 'yandex#search'
                    });

                    const placemark = new ymaps.Placemark(coords);

                    this.map.geoObjects
                        .add(placemark);
                });
            }
        }
    }
</script>
<style scoped>
</style>