<template>
    <div class="container nav-sec">
        <p class="">{{ $t('choose_city') }}:</p>
        <ul class="nav nav-pills" role="tablist">
            <li class="nav-item" v-for="(v, i) in nav" :key="i" v-on:click="changeRegion" :region="v.id">
                <a :class="(i == 0 && !region_id) ? 'nav-link active' : 'nav-link'" data-toggle="pill" href="#home" :id="'item_' + v.id">{{ v.name }}</a>
            </li>
        </ul>
    </div>
</template>
<script>
    export default {
        props: ['region', 'type', 'region_id'],
        data() {
            return {
                nav: [],
                lang: document.documentElement.lang
            }
        },
        created() {
            this.fetchRegions(this.region);
        },
        updated() {
            if(this.region_id) {
                document.getElementById('item_' + this.region_id).classList.add('active');
            }
        },
        methods: {
            fetchRegions(region) {
                this.$http.get(`/api/regions${region ? '/' + region : ''}?ownOffices=true&lang=${this.lang}`)
                    .then(r => {
                        this.nav = r.data;
                        if(this.region_id) {
                            this.regionChanged(this.region_id);
                            document.getElementById('item_' + this.region_id).classList.add('active');
                        }else {
                            this.regionChanged(this.nav[0].id);
                        }
                    });
            },
            regionChanged(region) {
                this.$emit('region-changed', { region })
            },
            changeRegion(e) {
                e.target.classList.add('active');
                this.regionChanged(e.target.parentNode.getAttribute('region'));
            }
        }
    }
</script>
<style scoped>
</style>