<template>
    <div>
        <contacts-nav-component :region_id="region_id" v-on:region-changed="regionChanged" :regionType="'contacts'"></contacts-nav-component>
        <center-information-component :region="region"></center-information-component>
    </div>
</template>
<script>
    import CenterInformationComponent from './CenterInformationComponent.vue';
    import ContactsNavComponent from './ContactsNavComponent';
    export default {
        props: ['region_id'],
        components: {
            CenterInformationComponent,
            ContactsNavComponent
        },
        data() {
            return {
                region: null
            }
        },
        created() {
        },
        methods: {
            regionChanged(event) {
                this.region = event;
            }
        }
    }
</script>
<style scoped>
</style>