<template>
<div>
    <div id="app" class="galety-content" v-for="(v, i) in galleries" :key="i">
        <div class="col-xl-5 p-0">
            <div class="galery-content-title">
            <ul>
                <li><b>{{ v.posted }}</b></li>
                <li><h4>{{ v.title }}</h4></li>
            </ul>
        </div>
        </div>
        <br>
        <div class="row">
            <div class="col-xl-3" v-for="(image, index) in v.image" :key="index">
                <img class="img-fluid" :src="host + '/storage/' + image">
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <a :href="`${host}/galleries/date/${v.posted_at}/title/${v.original_title}`">{{ $t('show_all') }}</a>
        </div>
    </div>
</div>
</template>
<script>
    export default {
        props: ['region'],
        data() {
            return {
                galleries: [],
                host: document.querySelector('meta[name=host]').content,
                lang: document.documentElement.lang
            }
        },
        created() {
        },
        watch: {
            region: function (newVal, oldVal) {
                this.fetchGalleryByRegion(newVal);
            }
        },
        methods: {
            fetchGalleryByRegion(region) {
                let response;
                if(region.region == '*') {
                    response = this.$http.get(`/api/galleries?lang=${this.lang}`);
                }else {
                    response = this.$http.get(`/api/galleries${ '/' + region.region}?lang=${this.lang}`);
                }
                response
                    .then(r => {
                        this.galleries = r.data;
                        console.log(this.galleries)
                    });
            },
        }
    }
</script>
<style scoped>
</style>