<template>
    <div class="galery">
		<div class="family-title">
			<h1>{{ $t('gallery') }}</h1>
		</div>
        <regions-component v-on:region-changed="regionChanged"></regions-component>
        <gallery-item-component :region="region"></gallery-item-component>
    </div>
</template>
<script>
    import GalleryItemComponent from './GalleryItemComponent.vue';
    import RegionsComponent from './RegionsComponent';
    export default {
        components: {
            GalleryItemComponent,
            RegionsComponent
        },
        data() {
            return {
                region: null
            }
        },
        created() {
            
        },
        methods: {
            regionChanged(event) {
                this.region = event;
            }
        }
    }
</script>
<style scoped>
</style>