<template>
    <div class="library">
        <h1>{{ $t('library') }}</h1>
        <br>
        <nav-component :categorytype="2" v-on:category-changed="categoryChanged"></nav-component>
        <library-item-component :category="category" v-bind="category" :type="'libraries'"></library-item-component>
    </div>
</template>
<script>
    import LibraryItemComponent from './LibraryItemComponent.vue';
    import NavComponent from './NavComponent.vue';
    export default {
        components: {
            LibraryItemComponent,
            NavComponent,
        },
        data() {
            return {
                category: null
            }
        },
        created() {
            
        },
        methods: {
            categoryChanged(event) {
                this.category = event;
            }
        }
    }
</script>
<style scoped>
</style>