<template>
    <div class="library-content">
        <div  v-for="(v, i) in articles" :key="i" class="library-card">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <a :href="host + '/articles/' + v.id " class="card-img"><img :src="host + '/storage/' + v.image" :alt="v.title"></a>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title"><a :href="host + '/articles/' + v.id ">{{ v.title }}</a></h5>
                        <p class="card-text" v-html="v.short_content"></p>
                    </div>
                </div>
            </div>
        </div>
		<div class="show-more text-center" v-if="nextPosition != null">
			<button type="button" v-on:click="loadMore">{{ $t('show_more') }}</button>
		</div>
    </div>
</template>
<script>
    export default {
        props: ['category', 'type'],
        data() {
            return {
                articles: [],
                nextPosition: null,
                lastPosition: null,
                host: document.querySelector('meta[name=host]').content,
                lang: document.documentElement.lang
            }
        },
        created() {
            if(this.type == 'news') {
                this.fetchArticles();
            }
        },
        watch: {
            category: function (newVal, oldVal) {
                this.fetchArticlesByCategory();
            }
        },
        methods: {
            fetchArticlesByCategory() {
                this.$http.get(`/api/categories/${this.category.category}/${this.type}?lang=${this.lang}`)
                    .then(r => {
                        this.articles = r.data.articles;
                        this.nextPosition = r.data.next_position;
                        this.lastPosition = this.articles[this.articles.length - 1].position;
                    });
            },
            loadMore(e) {
                this.$http.get(`/api/categories/${this.category.category}/${this.type}?lastPosition=${this.lastPosition}&lang=${this.lang}`)
                    .then(r => {
                            r.data.articles.map(item => {
                                this.articles.push(item);
                            });
                            this.nextPosition = r.data.next_position;
                            this.lastPosition = this.articles[this.articles.length - 1].position;
                        });
            }
        }
    }
</script>
<style scoped>
</style>