<template>
    <div id="map" width="500" height="500"></div>
</template>

<script>
export default {
    data() {
        return {
        }
    },
    updated() {
        this.map();
    },
    methods: {
        map() {
            document.addEventListener('DOMContentLoaded', () => {
                
            })
        }
    }
}
</script>