<template>
    <div class="tabs">
        <p class="text-muted">{{ $t('choose_chapter') }}</p>
        <ul class="p-0 d-flex" id="regions">
            <li v-for="(v, i) in nav" :key="i" v-on:click="changeCategory" :category="v.id">
                <a href="javascript:void(0)" :class="i == 0 ? 'nav-link text-dark active' : 'nav-link text-dark'">{{ v.title }}</a>
            </li>
        </ul>
    </div>
</template>
<script>
    export default {
        props: ['categorytype'],
        data() {
            return {
                nav: [],
                lang: document.documentElement.lang
            }
        },
        created() {
            this.fetchNav(this.categorytype);
        },
        methods: {
            fetchNav(type) {
                this.$http.get(`/api/categories?lang=${this.lang}${type ? '&category_type=' + type : ''}`)
                    .then(r => {
                        this.nav = r.data;
                        this.categoryChanged(this.nav[0].id);
                    });
            },
            categoryChanged(category) {
                this.$emit('category-changed', { category })
            },
            changeCategory(e) {
                for (const link of document.querySelectorAll('#regions li a')) {
                    link.classList = 'nav-link text-dark';
                }
                e.target.classList = 'nav-link active text-dark';
                this.categoryChanged(e.target.parentNode.getAttribute('category'));
            }
        }
    }
</script>
<style scoped>
.active {
    border-radius: 30px;
    background: #5dabff;
    color: #fff!important;
}
#regions li {
    padding: 0;
}
</style>