<template>
    <div>
        <article-component :type="'news'"></article-component>
    </div>
</template>
<script>
    import ArticleComponent from './ArticleComponent.vue';
    export default {
        components: {
            ArticleComponent,
        },
        data() {
            return {
            }
        },
        created() {
            
        },
        methods: {
        }
    }
</script>
<style scoped>
</style>