<template>
    <div class="galery-tabs">
        <br>
        <p class="text-muted">{{ $t('choose_city') }}</p>
        <ul class="p-0 d-flex" id="regions">
            <li v-for="(v, i) in nav" :key="i" v-on:click="changeRegion" :region="v.id">
                <a href="javascript:void(0)" :class="i == 0 ? 'nav-link text-dark active' : 'nav-link text-dark'">{{ v.name }}</a>
            </li>
        </ul>
    </div>
</template>
<script>
    export default {
        props: ['region', 'type'],
        data() {
            return {
                nav: [],
                lang: document.documentElement.lang
            }
        },
        created() {
            this.fetchRegions(this.region);
        },
        methods: {
            fetchRegions(region) {
                this.$http.get(`/api/regions${region ? '/' + region : ''}?forGallery=true&lang=${this.lang}`)
                    .then(r => {
                        this.nav = r.data;
                        this.regionChanged(this.nav[0].id);
                    });
            },
            regionChanged(region) {
                this.$emit('region-changed', { region })
            },
            changeRegion(e) {
                for (const link of document.querySelectorAll('#regions li a')) {
                    link.classList = 'nav-link text-dark';
                }
                e.target.classList = 'nav-link active text-dark';
                this.regionChanged(e.target.parentNode.getAttribute('region'));
            }
        }
    }
</script>
<style scoped>
.active {
    border-radius: 30px;
    background: #5dabff;
    color: #fff!important;
}
#regions li {
    padding: 0;
}
</style>